<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>REST-API</display-name>

  <servlet>
    <servlet-name>EventControllers</servlet-name>
    <servlet-class>com.maltsevve.restApi.controller.EventController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileControllers</servlet-name>
    <servlet-class>com.maltsevve.restApi.controller.FileController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserControllers</servlet-name>
    <servlet-class>com.maltsevve.restApi.controller.UserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EventControllers</servlet-name>
    <url-pattern>/eventСontrollers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileControllers</servlet-name>
    <url-pattern>/fileСontrollers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserControllers</servlet-name>
    <url-pattern>/userСontrollers</url-pattern>
  </servlet-mapping>
</web-app>
